body
{
    background-image: url("About1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: #fff;
}
h4
{
 word-spacing: 0.5em;
 font-size: medium;
 font: arial;
}
.f1
{
    padding-left: 20%;
    width: 20%;
}
.f
{
    float: left;
    width: 14%;
    box-sizing: border-box;
}
#main-footer
{

    color:rgb(255, 255, 255);

    background-color: transparent;

    float: left;

    padding-left:2%;

}